<!--Contact Us-->


        <!-- Dedicated Links -->
        <div class="social-links">              
            <div class="contact-us">
                    <p class="heading-text" id="text15">{{textMappings.text15}}</p>
                    <p class="subtext" id="text16">{{textMappings.text16}}</p>
            </div>
            <div class="socmed-container">
                <div class="email-1">
                    <p class="heading-text" id="text17">{{textMappings.text17}}<i class="bi bi-envelope-fill icon-heading admin"></i></p>
                    <p class="subtext" id="text18">{{textMappings.text18}}</p>
                    <a href="mailto: southalps01@gmail.com" class="link-simple">Send us a message</a>
                </div>
                <div class="contact-num">
                    <p class="heading-text" id="text19">{{textMappings.text19}}<i class="bi bi-telephone-fill icon-heading admin"></i></p>
                    <p class="subtext" id="text20">{{textMappings.text20}}</p>
                    <a href="#" class="link-simple">Contact Now</a>
                </div>
                <div class="social-media-1">
                    <p class="heading-text" id="text21">{{textMappings.text21}}<i class="bi bi-globe icon-heading admin"></i></p>
                    <p class="subtext" id="text22a">{{textMappings.text22a}}</p>
                    <a href="https://www.facebook.com/SouthAlpsColdStoragePH" class="link-simple">Visit FB Page</a>
                </div>
            </div>
        </div>