<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>South Alps Cold Storage: Careers</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/style2.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="../assets/icons/salps_icon.png" type="image/icon type">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        {{> navbar }}

        <!---Picture and Title of Page-->
        <div class="container11">
            <img src="../assets/{{imageMappings.image5}}" alt="{{imageMappings.image5}}" id="image5">
            <div class="overlay">
                <h1 id="text38">{{textMappings.text38}}</h1>
                <div class="line"></div>
                <p id="text39">{{textMappings.text39}}</p>
            </div>
        </div>

        <!--Listings of Careers -->
        <div class ="container-careers">
        {{#each careers}}
            <div class="card-11">
                <p id="{{this._id}}" class="careerTitle">{{this.jobtitle}}</p>
                <p id="{{this._id}}" class="subtext">{{this.jobdesc}}</p>
                {{#if ../isAdminMode}}
                    <button id="{{this._id}}" class="car-del-button">Delete</button>
                {{/if}}
            </div>
        {{/each}}
        </div>

        <!--Contact Us-->
        {{> contactus}}

        {{> accreditations}}
        {{> adminhotbar}}
        <script src="/javascript/careers.js"></script>
        <script src="/javascript/adminhotbar.js"></script>
    </body>
</html>