<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>South Alps Cold Storage: Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="../assets/icons/salps_icon.png" type="image/icon type">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        {{> navbar }}

        <!---Picture and Title of Page-->
        <div class="container11">
            <img src="../assets/{{imageMappings.image5}}" alt="{{imageMappings.image1}}" id="image5">
            <div class="overlay">
                <h1 id="text38">{{textMappings.text38}}</h1>
                <p id="text39">{{textMappings.text39}}</p>
            </div>
        </div>

        <div class="container11">
            <div class="image-section">
                <div class="image-box">
                    <img src="../assets/{{imageMappings.image6}}" alt="{{imageMappings.image1}}" id="image6">
                    <h2 id="text40">{{textMappings.text40}}</h2>
                    <p id="text41">{{textMappings.text41}}</p>
                </div>
        
                <div class="image-box">
                    <img src="../assets/{{imageMappings.image7}}" alt="{{imageMappings.image1}}" id="image7">
                    <h2 id="text42">{{textMappings.text42}}</h2>
                    <p id="text43">{{textMappings.text43}}</p>
                </div>
        
                <div class="image-box">
                    <img src="../assets/{{imageMappings.image8}}"alt="{{imageMappings.image1}}" id="image8">
                    <h2 id="text44">{{textMappings.text44}}</h2>
                    <p id="text45">{{textMappings.text45}}</p>
                </div>
            </div>

            <div class="image-section">
                <div class="image-box">
                    <img src="../assets/{{imageMappings.image9}}" alt="{{imageMappings.image1}}" id="image9">
                    <h2 id="text46">{{textMappings.text46}}</h2>
                    <p id="text47">{{textMappings.text47}}</p>
                </div>
        
                <div class="image-box">
                    <img src="../assets/{{imageMappings.image10}}" alt="{{imageMappings.image1}}" id="image10">
                    <h2 id="text48">{{textMappings.text48}}</h2>
                    <p id="text49">{{textMappings.text49}}</p>
                </div>
        
                <div class="image-box">
                    <img src="../assets/{{imageMappings.image11}}" alt="{{imageMappings.image1}}" id="image11">
                    <h2 id="text50">{{textMappings.text50}}</h2>
                    <p id="text51">{{textMappings.text51}}</p>
                </div>
            </div>
        </div>

        {{> contactus}}

        <!--Accreditation-->
        <div class="container6">
            <p class="heading-text">Accreditation</p>
            <div class="accreditation-boxes">
                <div class="accreditation-box"><img src="../assets/logo/bfar.png" alt="Image 1" style="width: 100px;"></div>
                <div class="accreditation-box"><img src="../assets/logo/bopi.png" alt="Image 1" style="width: 100px;"></div>
                <div class="accreditation-box"><img src="../assets/logo/nmis.png" alt="Image 1" style="width: 100px;"></div>
                <div class="group-accreditation-box"><img src="../assets/logo/ccap.jpg" alt="Image 1" style="width: 100px;"></div>                
                <div class="group-accreditation-box"><img src="../assets/logo/pampi.png" alt="Image 1" style="width: 100px;"></div>
            </div>
        </div>
        {{> adminhotbar}}
        <script src="/javascript/adminhotbar.js"></script>
    </body>
</html>