<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>South Alps Cold Storage: Facility</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/style2.css" type="text/css">
        <link rel="icon" href="../assets/icons/salps_icon.png" type="image/icon type">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        {{> navbar }} 
        
        <!---Picture and Title of Page-->
        <div class="container11">
            <img src="../assets/{{imageMappings.image3}}" alt="{{imageMappings.image1}}" id="image3">
            <div class="overlay">
                <h1 id="text13">{{textMappings.text13}}</h1>
                <p id="text14">{{textMappings.text14}}</p>
            </div>
        </div>

        <!--Facility-->
        <div class="container-faci">
            <div class="card-1">
                <img src="../assets/{{imageMappings.image1a}}" alt="{{imageMappings.image1a}}" id="image1a">
                <p id="text1a">{{textMappings.text1a}}</p>
            </div>
            <div class="card-1">
                <img src="../assets/{{imageMappings.image1b}}" alt="{{imageMappings.image1b}}" id="image1b">
                <p id="text1b">{{textMappings.text1b}}</p>
            </div>
                        <div class="card-1">
                <img src="../assets/{{imageMappings.image1c}}" alt="{{imageMappings.image1c}}" id="image1c">
                <p id="text1c">{{textMappings.text1c}}</p>
            </div>
        </div>

        <div class="container-faci">
            <div class="card-1">
                <img src="../assets/{{imageMappings.image1d}}" alt="{{imageMappings.image1d}}" id="image1d">
                <p id="text1d">{{textMappings.text1d}}</p>
            </div>
            <div class="card-1">
                <img src="../assets/{{imageMappings.image1e}}" alt="{{imageMappings.image1e}}" id="image1e">
                <p id="text1e">{{textMappings.text1e}}</p>
            </div>
                        <div class="card-1">
                <img src="../assets/{{imageMappings.image1f}}" alt="{{imageMappings.image1f}}" id="image1f">
                <p id="text1f">{{textMappings.text1f}}</p>
            </div>
        </div>

        <div class="container-faci">
            <div class="card-1">
                <img src="../assets/{{imageMappings.image1g}}" alt="{{imageMappings.image1g}}" id="image1g">
                <p id="text1g">{{textMappings.text1g}}</p>
            </div>
            <div class="card-1">
                <img src="../assets/{{imageMappings.image1h}}" alt="{{imageMappings.image1h}}" id="image1h">
                <p id="text1h">{{textMappings.text1h}}</p>
            </div>
                        <div class="card-1">
                <img src="../assets/{{imageMappings.image1i}}" alt="{{imageMappings.image1i}}" id="image1i">
                <p id="text1i">{{textMappings.text1i}}</p>
            </div>
        </div>
        {{> contactus}}
        
        {{> accreditations}}

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

        {{> adminhotbar}}
        <script src="/javascript/adminhotbar.js"></script>
    </body>
</html>