<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>South Alps Cold Storage: Facility</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/style2.css" type="text/css">
        <link rel="icon" href="../assets/icons/salps_icon.png" type="image/icon type">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        {{> navbar }} 
        
        <!---Picture and Title of Page-->
        <div class="container11">
            <img src="../assets/{{imageMappings.image3}}" alt="{{imageMappings.image1}}" id="image3">
            <div class="overlay">
                <h1 id="text13">{{textMappings.text13}}</h1>
                <div class="line"></div>
                <p id="text14">{{textMappings.text14}}</p>
            </div>
        </div>

        <!--Facility-->
        <div class="container-faci">
        {{#each facilities}}
            <div class="card-1">
                 <img src="../assets/{{this.imageName}}" alt="{{this.imageName}}" id="{{this._id}}">
                 <p id="{{this._id}}">{{this.description}}</p>
                 {{#if ../isAdminMode}}
                    <button id="{{this._id}}" name="delete-facility" class="delete-facility">Delete</button>
                {{/if}}
            </div>
        {{/each}}
        </div>

        <!--Map and Location-->
        <div class="container5">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15464.175525302959!2d121.0354923!3d14.3088832!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d77215481a29%3A0x451e1ac49df52f99!2sSouth%20Alps%20Cold%20Storage%20and%20Logistics%20Inc.!5e0!3m2!1sen!2sph!4v1699194634848!5m2!1sen!2sph"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="content">
                <p class="heading-text" id="text10">Map and Locations</p>
                <p class="subtext" id="text11">{{textMappings.text11}}</p>
                <div class="line"></div>
                <p class="subtext-2" id="text12">{{textMappings.text12}}</p>
            </div>
        </div>

        {{> contactus}}
        
        {{> accreditations}}

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

        {{> adminhotbar}}
        <script src="/javascript/facilities.js"></script>
        <script src="/javascript/adminhotbar.js"></script>
    </body>
</html>