<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>South Alps Cold Storage: Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        {{> navbar }} 

        <!---Picture and Title of Page-->
        <div class="container11">
            <img src="../assets/IMG_6354.JPG" alt="Your Image">
            <div class="overlay">
                <h1 id="text25">{{textMappings.text25}}</h1>
                <p id="text26">{{textMappings.text26}}</p>
            </div>
        </div>
        
        <!--Value Added Services-->
        <div class="container9">
            <div class="title" id="text27">{{textMappings.text27}}</div>
            <div class="content-2">
                    <div class="text-left left-align">
                        <div class="box">
                            <p class="heading-text" id="text28">{{textMappings.text28}}</p>
                            <p class="subtext-2" id="text29">{{textMappings.text29}}</p>
                            <button class="see-more">See More</button>
                        </div>
                        <div class="box">
                            <p class="heading-text" id="text30">{{textMappings.text0}}</p>
                            <p class="subtext-2" id="text31">{{textMappings.text31}}</p>
                            <button class="see-more">See More</button>
                        </div>
                    </div>
                    <div class="text-right right-align">
                        <div class="box">
                            <p class="heading-text" id="text32">{{textMappings.text32}}</p>
                            <p class="subtext-2" ud="text33">{{textMappings.text33}}</p>
                            <button class="see-more">See More</button>
                        </div>
                        <div class="box">
                            <p class="heading-text" id="text34">{{textMappings.text34}}</p>
                            <p class="subtext-2" id="text35">{{textMappings.text35}}</p>
                            <button class="see-more">See More</button>
                        </div>
                {{!-- 
                {{#each services}}
                <div class="{{#if (isEven @index)}}text-left left-align{{else}}text-right right-align{{/if}}">
                    <div class="box">
                            <p class="heading-text">{{this.name}}</p>
                            <p class="subtext-2">{{this.description}}</p>
                            <button class="see-more">See More</button>
                    </div>
                </div>
                {{/each}} 
                --}}
            </div>
            <div class="centered-box">
                <p class="heading-text" id="text36">{{textMappings.text36}}</p>
                <p class="subtext-2" id="text37">{{textMappings.text37}}</p>
            </div>
            <button class="see-more">See More</button>
        </div>   
        
        <!--Contact Us-->
        <div class="contact-us">
            <div class="header">
                <div class="header-content">
                    <p class="heading-text" id="text15">{{textMappings.text15}}</p>
                    <p class="subtext" id="text16">{{textMappings.text16}}</p>
                </div>
            </div>
        </div>

        <!-- Dedicated Links -->
        <div class="social-links">
            <div class="email-1">
                <p class="heading-text" id="text17">{{textMappings.text17}}<i class="bi bi-envelope-fill icon-heading"></i></p>
                <p class="subtext" id="text18">{{textMappings.text18}}</p>
                <a href="#" class="link-simple">Learn More</a>
            </div>
            <div class="contact-num">
                <p class="heading-text" id="text19">{{textMappings.text19}}<i class="bi bi-telephone-fill icon-heading"></i></p>
                <p class="subtext" id="text20">{{textMappings.text20}}</p>
                <a href="#" class="link-simple">Learn More</a>
            </div>
            <div class="social-media-1">
                <p class="heading-text" id="text21">{{textMappings.text21}}<i class="bi bi-globe icon-heading"></i></p>
                <p class="subtext" id="text22">{{textMappings.text22}}</p>
                <a href="#" class="link-simple">Learn More</a>
            </div>
        </div>

        <!--Accreditation-->
        <div class="container6">
            <p class="heading-text">Accreditation</p>
            <div class="accreditation-boxes">
                <div class="accreditation-box"><img src="../assets/logo/bfar.png" alt="Image 1" style="width: 100px;"></div>
                <div class="accreditation-box"><img src="../assets/logo/bopi.png" alt="Image 1" style="width: 100px;"></div>
                <div class="accreditation-box"><img src="../assets/logo/nmis.png" alt="Image 1" style="width: 100px;"></div>
                <div class="group-accreditation-box"><img src="../assets/logo/ccap.jpg" alt="Image 1" style="width: 100px;"></div>                
                <div class="group-accreditation-box"><img src="../assets/logo/pampi.png" alt="Image 1" style="width: 100px;"></div>
            </div>
        </div>
        
        <!--Footer-->
        <div class="container7">
            <div class="links">

            </div>
            <div class="line"></div>
            <div class="navilink">
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="facility.html">Facility</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="getQuote.html">Contact Us</a></li>
                    </ul>
            </div>
        </div>

        <button id="add">Add Service</button>

        <div id="form-overlay" class="form-overlay">
            <div class="form-container">
                <form id="postForm" name="postForm">
                    <textarea id="nameInput" name="name" class="form-text-input" rows="4" cols="50" placeholder="Name of Service?"></textarea>
                    <textarea id="descriptionInput" name="description" class="form-text-input" rows="4" cols="50" placeholder="Description?"></textarea>
                    <button id="submit-item" class="form-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{> adminhotbar}}
        <script src="/javascript/adminhotbar.js"></script>
        <script src="/javascript/services.js"></script>
    </body>
</html>