<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>South Alps Cold Storage: Services</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/style2.css" type="text/css">
        <link rel="icon" href="../assets/icons/salps_icon.png" type="image/icon type">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        {{> navbar }} 

        <!---Picture and Title of Page-->
        <div class="container11">
            <img src="../assets/{{imageMappings.image4}}" alt="{{imageMappings.image1}}" id="image4">
            <div class="overlay">
                <h1 id="text25">{{textMappings.text25}}</h1>
                <div class="line"></div>
                <p id="text26">{{textMappings.text26}}</p>
            </div>
        </div>
        
        <!--Value Added Services-->
        <div class="container9">
            <div class="title">Value Added Services</div>
            <div class="content-2-services">
                {{#each services}}
                <div class="card-1">
                    <p id="{{this._id}}" class="heading-text serviceName">{{this.name}}</p>
                    <p id="{{this._id}}" class="subtext-2 serviceDesc">{{this.description}}</p>
                </div>
                {{/each}}
            </div>
        </div>   

        {{> contactus}}

        {{> accreditations}}
        
        {{> adminhotbar}}

         <div id="form-overlay" class="form-overlay">
            <div class="form-container" style="background-color: lightblue;">
                <form id="postForm" name="postForm" class="postForm" style="background-color: lightblue;">
                    <textarea id="nameInput" name="name" class="form-text-input" rows="4" cols="50" placeholder="Name of Service?"></textarea>
                    <textarea id="descriptionInput" name="description" class="form-text-input" rows="4" cols="50" placeholder="Description?"></textarea>
                    <button id="submit-item" class="submit-button" type="submit" style="margin-top: 20px;">Submit</button>
                </form>
            </div>
        </div>

        <script src="/javascript/services.js"></script>
        <script src="/javascript/adminhotbar.js"></script>
    </body>
</html>